<div>
    <ol class="breadcrumb">
        <li><a href="/#/tests">Tests</a></li>
        <li class="active">{{test.method}}</li>
    </ol>
</div>
<div class="widget">
    <div class="widget-content">
        <div class="row">
            <div class="col-md-8">Method Name: {{test.method}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Start Time: {{ test.startTime }}</div>
            <div class="col-md-4">End Time: {{ test.endTime }}</div>
            <div class="col-md-4">Elapsed: {{ test.runningTime }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Class Name: {{test.className}}</div>
            <div class="col-md-4">Status: <span
                    ng-class="{SUCCESS:'label-status-SUCCESS', FAILURE:'label-status-FAILURE', SKIP:'label-status-SKIP'}[test.testStatus]">
            {{test.testStatus}}</span></div>
        </div>
    </div>
</div>

<div class="test-tabs">
    <tabset>
        <tab heading="History">
            <br/>
            <table class="table table-striped table-bordered">
                <thead>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Elapsed</th>
                <th>Status</th>
                </thead>
                <tbody>
                <tr ng-repeat="testHistory in testsHistory">
                    <td>
                        {{testHistory.startTime}}
                    </td>
                    <td>
                        {{testHistory.endTime}}
                    </td>
                    <td>
                        {{testHistory.runningTime}}
                    </td>
                    <td ng-class="{SUCCESS:'label-status-SUCCESS', FAILURE:'label-status-FAILURE', SKIP:'label-status-SKIP'}[testHistory.testStatus]">
                        {{testHistory.testStatus}}
                    </td>
                </tr>
                </tbody>

            </table>
        </tab>
        <tab heading="History Timeline">
            <ol class="timeline clearfix">
                <li ng-class-odd="'left'" ng-class-even="'right'" ng-repeat="testHistory in testsHistory">
                    <i class="pointer"></i>

                    <div ng-class="{SUCCESS:'unit-success', FAILURE:'unit-failure'}[testHistory.testStatus]">
                        <div>Start Time: {{testHistory.startTime}}</div>
                        <div>End Time: {{testHistory.endTime}}</div>
                        <div>Elapsed: {{testHistory.runningTime}}</div>
                        <div>Status: {{testHistory.testStatus}}</div>
                    </div>
                </li>
            </ol>
        </tab>
        <tab disabled="!test.parameters.length" heading="Parameters">
            <br/>
            <table class="table table-striped table-bordered">
                <thead>
                <th>Parameter Name</th>
                <th>Parameter Value</th>
                </thead>
                <tbody>
                <tr ng-repeat="parameter in test.parameters">
                    <td>{{parameter.paramName}}
                    </td>
                    <td>
                        {{parameter.paramValue}}
                    </td>
                </tr>
                </tbody>
            </table>
        </tab>
        <tab disabled="!test.testAttachments" heading="Attachments">
            <br/>

            <div class="media">
                <div ng-repeat="attach in test.testAttachments">
                    <a class="pull-left" href="http://localhost:8080/api/attach/{{ attach }}"
                       target="_blank"> <img class="media-object"
                                             src="http://localhost:8080/api/attach/{{ attach }}"
                                             alt="Test Attachment"
                                             style="height: 170px">
                    </a>
                </div>
            </div>
        </tab>
        <tab disabled="!test.failureReason" heading="Failure Reason">
            <br/>

            <div ng-if="!CheckNull(test.failureReason)">
                <div
                        style="text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 850px; padding: 10px"
                        ng-bind-html="test.failureReason.value | noHTML | newlines">
                </div>
            </div>
        </tab>
    </tabset>
</div>