<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="cancel()">&times;</button>
    <h5 class="modal-title">Add New Cycle</h5>
</div>
<div class="modal-body">
    <div class="row">
        <label>Sprint Name</label>

        <div class="controls">
            <input ng-model="input.name" class="form-control" ng-required="true" type="text" id="cycle_name"
                   placeholder="Enter Sprint Name">
        </div>
    </div>
    <div class="row">
        <label>Sprint Date</label>

        <p class="input-group">
            <input readonly placeholder="Select Sprint Start Date" class="form-control dp_input" type="text"
                   datepicker-popup="{{format}}" ng-model="input.startDate"
                   is-open="$parent.openedStart" min="minDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" ng-required="true"
                   close-text="Close" show-weeks="false" clear-text="Clear"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
        <p class="input-group">
            <input readonly placeholder="Select Sprint End Date" class="form-control dp_input" type="text"
                   datepicker-popup="{{format}}" ng-model="input.endDate"
                   is-open="$parent.openedEnd" min="minDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" ng-required="true"
                   close-text="Close" show-weeks="false" clear-text="Clear"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-disabled="!input.startDate || !input.name || !input.endDate" ng-click="save()">Save</button>
</div>