<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="cancel()">&times;</button>
    <h5 class="modal-title">Test Plan Details</h5>
</div>
<div class="modal-body">
    <div class="row">
        <label>Test Plan Name</label>
        <div class="controls">
            <input class="form-control" type="text" ng-model="input.name" id="tp_name"
                   placeholder="Enter Test Plan Name">
        </div>
    </div>
    <div class="row">
        <label>Owner</label>
        <div class="controls">
            <input class="form-control" type="text" ng-model="input.owner" id="tp_owner" placeholder="Enter Your Name">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-disabled="!input.owner || !input.name" ng-click="save()">Save</button>
</div>