<button class="btn btn-primary" style="margin-bottom: 15px;" ng-click="openAddModalDialog()">Add Sprint</button>
<div class="widget widget-table">
    <div class="widget-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-repeat="header in headers">
                    {{ header.title }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sprint in sprints">
                <td>{{sprint.name}}</td>
                <td>{{sprint.startDate}}</td>
                <td>{{sprint.endDate}}</td>
            </tr>
            </tbody>
        </table>
        <div ng-show="!loaded">
            <img class="loader" ng-src="/img/loader.gif"/>
        </div>
        <div ng-show="loaded && sprintsCount == 0">
            <span>No Data</span>
        </div>
    </div>
</div>