<button ng-show="hasPermission('create')" class="btn btn-primary" style="margin-bottom: 15px;" ng-click="openAddModalDialog()">Add User</button>
<div class="widget widget-table">
    <div class="widget-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-repeat="header in headers">
                    {{ header.title }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr context-menu="rightClick(user.id)" data-target="userMenu" ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td style="width: 350px;">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="permissionAdmin" ng-model="user.mapPermissions.admin"
                               ng-change="permissionChange(user.id, user.mapPermissions)"> Admin
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="permissionCreate" ng-model="user.mapPermissions.create"
                               ng-change="permissionChange(user.id, user.mapPermissions)"> Create
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="permissionView" ng-model="user.mapPermissions.view"
                               ng-change="permissionChange(user.id, user.mapPermissions)"> View
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="permissionEdit" ng-model="user.mapPermissions.edit"
                               ng-change="permissionChange(user.id, user.mapPermissions)"> Edit
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="permissionDelete" ng-model="user.mapPermissions.delete"
                               ng-change="permissionChange(user.id, user.mapPermissions)"> Delete
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="!loaded">
            <img class="loader" ng-src="/img/loader.gif"/>
        </div>
        <div ng-show="loaded && usersCount == 0">
            <span>No Data</span>
        </div>
    </div>
</div>
<div class="dropdown" id="userMenu">
    <ul class="dropdown-menu" role="menu">
        <li ng-show="hasPermission('edit')" role="presentation">
            <a class="pointer" role="menuitem" tabindex="-1" ng-click="changePassword()">Change Password</a>
        </li>
        <li ng-show="hasPermission('edit')" role="presentation">
            <a class="pointer" role="menuitem" tabindex="-1" ng-click="editUser()">Edit Details</a>
        </li>
        <li ng-show="hasPermission('delete')" role="presentation">
            <a class="pointer" role="menuitem" tabindex="-1" ng-click="deleteUser()">Delete</a>
        </li>
    </ul>
</div>